@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import url('"https://fonts.googleapis.com/css2?family=Teko:wght@300;400;700&display=swap"');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
  color: #CCAA02;
  margin-bottom: 12px;
}

h1 {
  font-family: "Teko", sans-serif;
  font-size: 3.5rem;
}

h2 {
  font-family: "Teko", sans-serif;
  font-size: 3rem;
}

h3 {
  font-family: "Teko", sans-serif;
  font-size: 2.5rem;
}

h4 {
  font-family: "Teko", sans-serif;
  font-size: 2rem;
}

h5 {
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
}

h6 {
  font-family: "Teko", sans-serif;
  font-size: 1rem;
}

em {
  font-style: italic;
  font-weight: 300;
}

strong {
  font-weight: 700;
}

a {
  display: inline-block;
  text-decoration: underline;
  color: #D6DEA7;
}

h1 {
  color: #D6DEA7;
}

.text-strong {
  font-weight: 700;
}

.text-italic {
  font-style: italic;
}

.btn {
  background-color: #CCAA02;
  color: #FFF;
  font-weight: 600;
  padding: 12px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-table {
  background-color: #D1E3C6;
  border-radius: 12px;
  margin: 0 auto;
  width: 50%;
}

.custom-table td {
  padding: 12px;
  text-align: center;
  border: 4px solid #FFF;
}

.mt-0 {
  margin-top: 0rem !important;
}

.mt-sm {
  margin-top: 1rem !important;
}

.mt-md {
  margin-top: 2rem !important;
}

.mt-lg {
  margin-top: 3rem !important;
}

.mt-xl {
  margin-top: 4rem !important;
}

.mt-xxl {
  margin-top: 5rem !important;
}

.mr-0 {
  margin-right: 0rem !important;
}

.mr-sm {
  margin-right: 1rem !important;
}

.mr-md {
  margin-right: 2rem !important;
}

.mr-lg {
  margin-right: 3rem !important;
}

.mr-xl {
  margin-right: 4rem !important;
}

.mr-xxl {
  margin-right: 5rem !important;
}

.ml-0 {
  margin-left: 0rem !important;
}

.ml-sm {
  margin-left: 1rem !important;
}

.ml-md {
  margin-left: 2rem !important;
}

.ml-lg {
  margin-left: 3rem !important;
}

.ml-xl {
  margin-left: 4rem !important;
}

.ml-xxl {
  margin-left: 5rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.mb-sm {
  margin-bottom: 1rem !important;
}

.mb-md {
  margin-bottom: 2rem !important;
}

.mb-lg {
  margin-bottom: 3rem !important;
}

.mb-xl {
  margin-bottom: 4rem !important;
}

.mb-xxl {
  margin-bottom: 5rem !important;
}

.m-0 {
  margin: 0rem !important;
}

.m-sm {
  margin: 1rem !important;
}

.m-md {
  margin: 2rem !important;
}

.m-lg {
  margin: 3rem !important;
}

.m-xl {
  margin: 4rem !important;
}

.m-xxl {
  margin: 5rem !important;
}

.pt-0 {
  padding-top: 0rem !important;
}

.pt-sm {
  padding-top: 1rem !important;
}

.pt-md {
  padding-top: 2rem !important;
}

.pt-lg {
  padding-top: 3rem !important;
}

.pt-xl {
  padding-top: 4rem !important;
}

.pt-xxl {
  padding-top: 5rem !important;
}

.pr-0 {
  padding-right: 0rem !important;
}

.pr-sm {
  padding-right: 1rem !important;
}

.pr-md {
  padding-right: 2rem !important;
}

.pr-lg {
  padding-right: 3rem !important;
}

.pr-xl {
  padding-right: 4rem !important;
}

.pr-xxl {
  padding-right: 5rem !important;
}

.pl-0 {
  padding-left: 0rem !important;
}

.pl-sm {
  padding-left: 1rem !important;
}

.pl-md {
  padding-left: 2rem !important;
}

.pl-lg {
  padding-left: 3rem !important;
}

.pl-xl {
  padding-left: 4rem !important;
}

.pl-xxl {
  padding-left: 5rem !important;
}

.pb-0 {
  padding-bottom: 0rem !important;
}

.pb-sm {
  padding-bottom: 1rem !important;
}

.pb-md {
  padding-bottom: 2rem !important;
}

.pb-lg {
  padding-bottom: 3rem !important;
}

.pb-xl {
  padding-bottom: 4rem !important;
}

.pb-xxl {
  padding-bottom: 5rem !important;
}

.p-0 {
  padding: 0rem !important;
}

.p-sm {
  padding: 1rem !important;
}

.p-md {
  padding: 2rem !important;
}

.p-lg {
  padding: 3rem !important;
}

.p-xl {
  padding: 4rem !important;
}

.p-xxl {
  padding: 5rem !important;
}

/*# sourceMappingURL=main.css.map */
