@use 'typography';
@use 'variables';
@use 'color';

//body
body {
    font-family: variables.$font-stack-text;
    font-size: 24px;
}

//Headings

h1, h2, h3, h4, h5, h6 {
    color: color.$secondary-color;
    margin-bottom: 12px;
}

h1 {
    font-family: variables.$font-stack-headings;
    font-size: typography.$font-xxl;
}

h2 {
    font-family: variables.$font-stack-headings;
    font-size: typography.$font-xl;
}

h3 {
    font-family: variables.$font-stack-headings;
    font-size: typography.$font-large;
}

h4 {
    font-family: variables.$font-stack-headings;  
    font-size: typography.$font-medium;
}

h5 {
    font-family: variables.$font-stack-headings;  
    font-size: typography.$font-small;
}

h6 {
    font-family: variables.$font-stack-headings;  
    font-size: typography.$font-xsm;
}

//italic
em {
    font-style: typography.$font-italic;
    font-weight: typography.$font-light;
}

//strong
strong {
    font-weight: typography.$font-bold;
}

// Links
a {
    display: inline-block;
    text-decoration: underline;
    color: color.$fifth-color;

    &:hover{
        text-decoration: none;
        color:red;
    }

    &:active{
        color: pink; 
    }
}

// Borders


// Background
