@use 'typography';
@use 'variables';
@use 'color';
@use 'spacing';

//body
body {
    font-family: variables.$font-stack-text;
    font-size: 24px;
}

//Headings

h1 {
    font-family: variables.$font-stack-headings;
    font-size: typography.$font-xxl;
}

h2 {
    font-family: variables.$font-stack-headings;
    font-size: typography.$font-xl;
}

h3 {
    font-family: variables.$font-stack-headings;
    font-size: typography.$font-large;
}

h4 {
    font-family: variables.$font-stack-headings;  
    font-size: typography.$font-medium;
}

h5 {
    font-family: variables.$font-stack-headings;  
    font-size: typography.$font-small;
}

h6 {
    font-family: variables.$font-stack-headings;  
    font-size: typography.$font-xsm;
}

//italic
em {
    font-style: typography.$font-italic;
    font-weight: typography.$font-light;
}

i {
    font-style: typography.$font-italic;
    font-weight: typography.$font-light;
}

//strong
strong {
    font-weight: typography.$font-bold;
}

// Links
a {
    display: inline-block;
    text-decoration: underline;
    color: color.$fifth-color;

    &:hover{
        text-decoration: none;
        color:red;
    }

    &:active{
        color: pink; 
    }
}

//forms

form {
    margin-bottom: 15px;
    font-family: variables.$font-stack-text;
    font-size: 24px;
}

label {
    display: block;
    margin-top: 16px;
    margin-bottom: 5px;
    font-size: 0.8rem;
    font-family: variables.$font-stack-text;
    font-size: 24px;
}

select {
    width: 40%;
    padding: 16px;
    border: 1px solid color.$secondary-color;
    border-radius: 4px;
    font-family: variables.$font-stack-text;
    font-size: typography.$font-xsm;
}

input[type=text]{
    width: 40%;
    padding: 16px;
    border: 1px solid color.$secondary-color;
    border-radius: 4px;
    font-family: variables.$font-stack-text;
    font-size: typography.$font-xsm;
}

// Other HTML Tags
blockquote {
    font-weight: typography.$font-light;
    text-align: center;
    padding: 1rem;
}

//lists

ul{
   list-style-type: square;
}










