// #E4E694
// #D1E3C6
// #D6DEA7
// #CCAA02
// #F0E200


// Colors
$primary-color: #D6DEA7; 
$secondary-color: #CCAA02; 
$tertiary-color: #D1E3C6; 
$quaternary-color: #E4E694; 
$quinary-color: #F0E200;

$button-color: $secondary-color;