// #D1E3C6
// #D1E3C6
// #D6DEA7
// #CCAA02
// #F0E200


// Colors
$primary-color: #D6DEA7;
$secondary-color: #CCAA02;
$third-color: #D1E3C6;
$fourth-color: #e4e694;
$fifth-color: #F0E200;

$button-color: $secondary-color;