//typography

//weights
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

//sizes
$font-xsm: 1rem;
$font-small: 1.5rem;
$font-medium: 2rem;
$font-large: 2.5rem;
$font-xl: 3rem;
$font-xxl: 3.5rem;

//Italic for paragraph text
$font-italic: italic;
